@page
@model IndexModel
@{
    ViewData["Title"] = "Zona Agro";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zona Agro</title>
</head>
<body>
    <header>
        <h1>
            ZONA AGRO
        </h1>

    </header>
    <nav>
        <p>
            Registra aqui los datos de tu finca para prognosticar tus gaanncias y establecer tus costors de produccion
        </p>
        <button> ingresar</button>
        <button> registrarse</button>
    </nav>
    
</body>
</html>
