@page
@model IndexModel
@{
    ViewData["Title"] = "Zona Agro";
}
<center> 

    
    <h1>ZONA AGRO </h1>
    
    

   <center> <p> Registra aqui los datos de tu finca para prognosticar tus gaanncias y establecer tus costors de produccion</p></center> 
   
    </center>
    
        
<center><table> 
    
    <button onclick="location.href='/Paginas/Dos'">Ingresar</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button onclick="location.href='/Paginas/Tres'">Registrarse</button>
    </table></center>
        