@page
@model IndexModel
@{
    ViewData["Title"] = "Zona Agro";
}
<center> 

    
    <h1>ZONA AGRO </h1>
    
    

   <center> <p> Registra aqui los datos de tu finca para prognosticar tus gaanncias y establecer tus costors de produccion</p></center> 
   
    </center>
    
        
<center><table> 
    
    <input type="button" value="Ingresar" onclick="calcular()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="Registrarse" onclick="calcular()">
    </table></center>
        