@page
@model IndexModel
@{
    ViewData["Title"] = "Zona Agro";
}
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
<style type="text/css"> 
    #Contenedor{
        overflow: hidden;
        
<<<<<<< Updated upstream
        padding: 10px;
=======
        padding: 0px;
>>>>>>> Stashed changes
    }
    
    
    #Izquierda{
         float: right;
        
        padding: 0px;
        width: auto;
        margin:auto;
        background: #D2D6D1;
        justify-content: center;
<<<<<<< Updated upstream
        height:750px;
=======
        height:612px;
>>>>>>> Stashed changes
        position: absolute;
        
        left:75%
        
    }
       
    
    #Derecha{
        float: left;
        padding: 10px;
        width: auto;
        margin:auto;
       
    }
    
    #texto{
         padding: 5px;
        
        text-align: center;
        justify-content: center;
        background:#ffffff;
        line-height: 20px;
<<<<<<< Updated upstream
       height: 120px;
=======
       height: 130px;
>>>>>>> Stashed changes
       
    }
    
    </style>
<<<<<<< Updated upstream




=======


>>>>>>> Stashed changes
<center> 
<div id="Derecha"> 
    
    
<<<<<<< Updated upstream
=======
   
    
    
   
>>>>>>> Stashed changes
    </div>
    
    </center>
    
        

    <div id="Izquierda"> 
    <table> 
        
        <tr> 
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
<<<<<<< Updated upstream
            
       <center>  <h1>ZONA AGRO </h1></center>
    <br>
    
   <div id=texto> <br> <h6> Registra aqui los datos de tu finca 
    para pronosticar tus ganancias
     y establecer tus costos de
      produccion. </h6> </div>
            
    <br> 
    <br><br>
        </tr>
    <tr> 
         
    
   <center>
       <link rel="stylesheet"href="~/css/Index.css"  type="text/css"> 
=======
            <br>
           
       <center>  <h1>ZONA AGRO  </h1></center>
    <br>
   <div id=texto> <h4> Registra aqui los datos de tu finca para 
        pronosticar tus ganancias y establecer 
       tus costos de produccion. </h4> </div>
            
    <br> 
    <br><br>
        </tr>
    <tr> 
         
    
   <center>
       <link rel="stylesheet" href="~/css/Index.css"type="text/css"> 
>>>>>>> Stashed changes
       <div class = "btn-item">  
           <a href="/Paginas/Dos" class="btn-ghost round"> Ingresar</a>
           <br><br><br><br>
           
        <a href="/Paginas/Tres" class="btn-ghost secondary round"> Registrar</a>
           
           
     </div>
           
       </center>
   
        </tr>
    </table>
    </div>
<<<<<<< Updated upstream


          

        
=======
>>>>>>> Stashed changes
