body{
    margin: 0;
    padding: 0;
    background: url(https://cr00.epimg.net/radio/imagenes/2019/09/22/al_campo/1569106763_313563_1569106857_noticia_normal.jpg);    
    background-size: cover;
    font-family: sans-serif;
}
.Registro h1{
    text-align: center;
    font-size: 27px;
     width:250px;
    background: #BFBFBF;
    padding: 15px 35px;
   
    margin-top: 70px;
    
    font-family: "DM Sans", sans-serif;
    color: black;
}
.controls{
    width: 100%;
  
  padding:  10px;
  border-radius: 30px;
  margin-bottom: 16px;
  border: 1px solid black;
  font-family: 'calibri';
  font-size: 18px;
  
}
.btn-ghost{
    font-size: 15px;
     position: relative;
     display: inline;
     border: 2px solid #1E7A97;
     padding: 15px 30px;
     color:#FFFFFF;
     font-weight:600;
     text-transform: uppercase;
     text-decoration: none;
     background: #1E7A97 ;
 }
 .btn-ghost.round{
     border-radius: 30px;
 }
 .btn-ghost.dos{
     margin-top: 50px;
    border: 2px solid var(--red);
    color: #FFFFFF ;
    padding: 15px 30px;
    background: #B91515;
}
 .btn-ghost:hover{
    color:  #1E7A97;
    background: #FFFFFF;
    text-decoration: none;
 }
 .btn-ghost.dos:hover{
    color:#B91515 ;
   background:#FFFFFF ;
   text-decoration: none;
}