:root{
    
    --green:#38A02B;
    --red: #B91515;
    --white: #FFFFFF;
}
body{
    margin: 0;
    padding: 0;
    background: url(https://www.pmgchile.com/wp-content/uploads/2015/01/agro.jpg);   
    background-size: cover;
 
    font-family: sans-serif;
}

*{
    font-family: 'DM Sans', sans-serif;
}


.btn-container{
    padding-top: 30 px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.btn-ghost{
    position: relative;
    display: inline;
    border: 2px solid var(--green);
    padding: 15px 30px;
    color:#FFFFFF;
    font-weight:600;
    text-transform: uppercase;
    text-decoration: none;
    background: #38A02B;
}
.btn-ghost.round{
    border-radius: 30px;
}
.btn-ghost.secondary{
    border: 2px solid var(--red);
    color: #FFFFFF ;
    padding: 15px 25px;
    background: #B91515;
}

.btn-ghost:hover{
    color: #38A02B ;
    background: #FFFFFF;
    text-decoration: none;
}
.btn-ghost.secondary:hover{
    color:#B91515 ;
    background:#FFFFFF ;
    text-decoration: none;
}




