
body{
    margin: 0;
    padding: 0;
    background-image: url(https://snz04pap001files.storage.live.com/y4mWUyn6lufYIq32jgOitLPoXoeJ-dypwelTFB8nNt-qss1FlSftUNgV6dgSshVce6IK7HeThoc12DOXhtLhtH0psDKYjOxrzrsuVMP5AlYJC_n6ln-VCetb0fL8w4ZzlDRq86WBETXhpFm0dqKaEdYgQ-JLMZ3CIrUu77ruuWMkcd20jiVVWrUptlNZqvYbjjKZsPH7JP-c2xKPpo3c4-OxN6I1xmDlTDYKtvM1r8t0Ds?width=1002&height=621&cropmode=center);
    background-size: cover;
    font-family: sans-serif;
}