
body{
    margin: 0;
    padding: 0;
    background-image: url(https://snz04pap001files.storage.live.com/y4mfY0ETGqrwukpoGaLLSTCWIKJwivad48gPWeetppc0PKcWGP_k7S1To36QOGNdxF2cj2bS9b7qVJB-JQ0jd0SZnm3zJkvk9KS5AzanhpS-hOC9RC3d7jKbHheYec9_bGS0mWWZOOxhjufLEGjVJdTFvrHCtXMukQPw_LgCIaKAFGzRXQ2hvKbmH3sxRzQwNRt5ihOP5fcrIduqyGD-NPCWqGhGtbiqOBNPt60VQjXN2g?width=1014&height=621&cropmode=center);
    background-size: cover;
    font-family: sans-serif;
}