
body{
    margin: 0;
    padding: 0;
    background-image: url(https://snz04pap001files.storage.live.com/y4mFzdtkjmOp8CRh-N7pncByvElA3pYjvJElbN3rpZ_-RON4Cl9HuV1IoZsU6mWd71nUkRxljzge6wshTSlBXX4PxSq6H-GeBTp8EsCzTb0w6UX4zxhPnrQ4iocSKW9NYdMr3slYvJCrLBn2Q0D6yI15wVxGlMbf7mI5IB517z-6xR92ivQKs6OVIdJHHcYwyl4VJDpe1DJYNIIr4wuKqdFk05zU1AG-tPWe8RXG7R-7Bo?width=1002&height=621&cropmode=center);
    background-size: cover;
    font-family: sans-serif;
}