@page
@model FrontEnd.Pages.CuatroModel
@{
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="SeleccionInsumos" content="width=device-width, initial-scale=1.0">
    <title>SeleccionInsumos</title>
</head>
<body>

    
        <div class="texto"><h1> REGISTRO INSUMOS </h1></div>
   
    <div class = "btn-item">  
        <BR><BR><BR><BR><BR><BR><BR><BR>
       <center>
           
       <a href="Paginas/nueve" class="btn-ghost round"> AGROQUIMICAS</a><BR><BR><BR><BR><BR><BR>
        <a href="/Paginas/cinco" class="btn-ghost dos round"> MATERIALES</a><BR><BR><BR><BR><BR><BR>
        <a href="/Paginas/diez" class="btn-ghost tres round"> FERTILIZANTES</a><BR><BR><BR><BR><BR><BR>
        </center>
     </div>
        
    
</body>
</html>


<link rel="stylesheet" href="~/css/Cuatro.css" type="text/css">