@page
@model FrontEnd.Pages.CuatroModel
@{
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="SeleccionInsumos" content="width=device-width, initial-scale=1.0">
    <title>SeleccionInsumos</title>
</head>
<body>

    <header>
        <h1>
            REGISTRO INSUMOS
        </h1>
    </header>
    <nav>
        <button onclick="location.href='/Paginas/nueve'">AGROQUIMICAS</button>
        <button onclick="location.href='/Paginas/cinco'">MATERIALES</button>
        <button onclick="location.href='/Paginas/diez'">FERTILIZANTES</button>
    </nav>
    
</body>
</html>