@page
@model FrontEnd.Pages.Pagina1Model
@{
}
<center> <h1> INGRESO </h1></center>
<center> <p> Ingresa aqui tu numero de identificacion</p></center>
<center> <input type="password" id="IngresoDocumento" size="10"></center>
<br>
<center> <input type="button" value="continuar" onclick="continuar()"></center>  
<center> <p>Número de su cédula de ciudadania sin ningun caracter* </p></center>       
        