@page
@model FrontEnd.Pages.Pagina1Model
@{
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IngresoZonaAgricola</title>
</head>
<body>
    <header>
        <h1> 
            INGRESO
        </h1>
    </header>
    <nav>
        <p>
            Ingresa aquí tu número de identificación*
        </p>
        <input type="password" id="IngresoDocumento" size="10">
        <input type="button" value="continuar" onclick="continuar()">
        <footer>
            Número de su cédula de ciudadania sin ningun caracter*
        </footer>
    </nav>
    
    
    
</body>
</html>