@page
@model FrontEnd.Pages.Pagina1Model
@{
}

<br><br><br><br>
<section class="registro">
<h1> INGRESO   </h1>

    <input class="controls" type="text" name="Documento"id="Documento" placeholder="Ingresa aqui tu numero de identificacion       ">
    <br><br>
     <div class = "btn-item">  
       <center>  <a href="/Paginas/Tres" class="btn-ghost round"> Continuar</a></center>
     </div>
    <br> <br> 
   <center> <h6>Número de su cédula de ciudadania sin ningun caracter* </h6></center>
</section>
    
           
          
     
    
   
        
     
    
    
    




<link rel="stylesheet" href="~/css/Dos.css" type="text/css">