@page
@model FrontEnd.Pages.nueveModel
@{
}


<div class ="Registro"> <h1>
 Registro de agroquimicos
</h1></div>
<style type="text/css"> 
    #Contenedor{
        width: fit-content;
    background-color: hsla(0, 0%, 75%, .7);
    padding: 50px 100px;
    margin: 10px;
    margin-top: 100px;
    border-radius: 4px;
    font-family: "DM Sans", sans-serif;
    
    color: black;
    margin-left: 20%;
}
    


</style>

<div id=Contenedor>
  <table border="0" style="margin:  auto;">
    
        
        
        <tr>
            <td><p> Nombre del producto</p></td>
            <td> <p>     </p></td>
            <td><p> Cantidad Entrada </p></td>
            
        </tr>
      
      
      <tr> 
      <td><input class="controls" type="text" id= "nom_producto" size= "35"></td>
          <td> <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;   &nbsp;&nbsp;&nbsp;      </p></td>
          
     <td> <select class="controls2"name="Lista" id ="list"> 
              <option value = "Opcion1"> Opcion1 </option>
                <option value = "Opcion2"> Opcion2</option>
                <option value = "Opcion3"> Opcion3</option>
                <option value = "Opcion4"> Opcion4</option>
              </select></td>
      
      </tr>

      <tr>
            <td><p> Numero de agroquimico </p></td>
            <td> <p>     </p></td>
            <td><p> Cantidad Salida </p></td>
      
      </tr>
      
      <tr> 
      <td><input class="controls"type="text" id= "num_material" size= "35"></td>
          <td> <p>     </p></td>
          
     <td> <select class="controls2" name="Lista" id ="list"> 
              <option value = "Opcion1"> Opcion1 </option>
                <option value = "Opcion2"> Opcion2</option>
                <option value = "Opcion3"> Opcion3</option>
                <option value = "Opcion4"> Opcion4</option>
              </select></td>
      
      </tr>

      
      
      
      <tr>
          <td> <p> Precio &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Fecha </p></td>
          <td><p> </p></td>
          <td> <p> Cantidad en bodega</p></td>

      
      </tr>
      <tr> 
      <td> <input class="controls3"type="text" id = "Precio" size="5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="controls3" type="text" id = "Fecha" size ="5"></td>
      <td> </td>
     <td> <select class="controls2"name="Lista" id ="list"> 
              <option value = "Opcion1"> Opcion1 </option>
                <option value = "Opcion2"> Opcion2</option>
                <option value = "Opcion3"> Opcion3</option>
                <option value = "Opcion4"> Opcion4</option>
              </select></td>
      </tr>
      
      
        <tr>
      <td> <p> Tipo</p> </td>
      <td> </td>
            <td> <p> Ingrediente Activo </p></td>
           
      </tr>
      <tr> 
      <td><input class="controls"type="text" id="tipo" size="30"></td>
     <td> </td>
      
             <td> <input class="controls" type="text" id = "ing" size ="35"></td>
     
     </tr>
    </table>
    <br>
    
  <center>   <table> 
<tr>
         
      <td> <a href="/Paginas/seis" class="btn-ghost dos round"> Guardar </a>&nbsp; &nbsp;&nbsp;</td><td> <a href="/Paginas/seis" class="btn-ghost tres round"> Actualizar</a>&nbsp;&nbsp;&nbsp; </td> <td> <a href="/Paginas/seis" class="btn-ghost cuatro round"> Eliminar</a>&nbsp;&nbsp;&nbsp;</td>
         
      </tr>
      <tr> <td>&nbsp;&nbsp; </td></tr>
      <tr> <td>&nbsp;&nbsp; </td></tr>
      <tr> 
        <td>&nbsp;&nbsp; </td>
        
        <td> <a href="/Paginas/seis" class="btn-ghost round"> Siguiente --></a></td></tr>
   </table>
   </center>
</div>

<link rel="stylesheet" href="~/css/Nueve.css" type="text/css">
