@page
@model FrontEnd.Pages.ochoModel
@{
}



<div id="Izquierda">
    <br>
    <br>
    

    <center>
        <h1> Costo Produccion</h1>
    </center>
    <br>
    <br>

    <center>
        <input class="controls" type="text" id="nom_producto" size="35"  readonly="readonly">
    </center>
    <br>
    <br>
    

    <center>
        <h1> Ganancia</h1>
    </center>
    <br>
    <br>

    <center>
        <input class="controls" type="text" id="nom_producto" size="35" readonly="readonly">
    </center>
</div>


<link rel="stylesheet" href="~/css/Ocho.css" type="text/css">