@page
@model FrontEnd.Pages.ochoModel
@{
}
<center>
<h1> Costo Produccion</h1>
</center>

<center> 
<input type="text" id= "nom_producto" size= "35">
</center>

<center>
<h1> Ganancia</h1>
</center>

<center> 
<input type="text" id= "nom_producto" size= "35">
</center>