@page
@model FrontEnd.pages.OnceModel
@{
}

    <section class="Perfil"> 
<a href="/Paginas/Cuatro" class="btn-ghost dos round"> Volver</a>
     </section>

 <div class ="Registro"> <h1>
 Perfil
</h1></div>


<style type="text/css"> 
    #Contenedor{
        width: fit-content;
    background-color: hsla(0, 0%, 75%, .7);
    padding: 50px 100px;
    margin: 10px;
    margin-top: 50px;
    border-radius: 4px;
    font-family: "DM Sans", sans-serif;
    
    color: black;
    margin-left: 2%;
}
</style>

<div id=Contenedor>
    <center>
  <table border="0" style="margin:  auto;"> 
        <tr>
            <td><p> Nombre de la finca &nbsp;&nbsp;</p></td>
            <td> <input class="controls" type="text" id= "nom_producto" size= "30"readonly="readonly"></td>
            <td> <p>&nbsp;&nbsp; </p></td>
            <td><p> N° Lotes</p></td>
            <td> <input class="controls" type="text" id= "nom_producto" size= "30"readonly="readonly"></td>
            
        </tr>
      
      
      <tr> 
          <td> <p> Ubicacion   </p></td>
          <td> <input class="controls" type="text" id= "nom_producto" size= "30"readonly="readonly"></td>
            <td> <p> &nbsp;&nbsp;</p></td>
            <td><p> N° Producto &nbsp;&nbsp;&nbsp;&nbsp;</p></td>
            <td> <input class="controls" type="text" id= "nom_producto" size= "30"readonly="readonly"></td>
      </tr>
      </table>
      </center>
   </div>


<div class ="Lotes">
    <table> 
        <tr>
     <td> <h1>Registro de lotes</h1> </td>
     <td> <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p> </td> 
     <td>  </td>
</tr>
</table>
</div>
<center>
<div id=Contenedor>
    
  <table border="0" style="margin:  auto;"> 
        
           <tr>  <td><input class="controls" type="text" id= "nom_producto" size= "30"readonly="readonly"></td></tr>
            <tr><td> <input class="controls" type="text" id= "nom_producto" size= "30"readonly="readonly"></td></tr>
           <tr> <td> <input class="controls" type="text" id= "nom_producto" size= "30"readonly="readonly"></td></tr>
    
            <tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/Paginas/Doce" class="btn-ghost round"> Crear Lote</a></td></tr>
      
      
      </table>
      
   </div>
</center>


<link rel="stylesheet" href="~/css/Once.css" type="text/css">
