@page
@model FrontEnd.Pages.sisModel
@{
}
<h1>
<p align="center"> Registro de mano de obra </p>

</h1>


<p align="center">  Cargo </p>
<center><select name="Lista" id ="cargo"> 
              <option value = "Opcion1"> Opcion1 </option>
                <option value = "Opcion2"> Opcion2</option>
                <option value = "Opcion3"> Opcion3</option>
                <option value = "Opcion4"> Opcion4</option>
              </select> </center>

<p align="center">  Codigo </p>
<center> <input type= "text" id="codigo"> </center>

<p align="center"> Salario </p>
<center> <input type= "text" id="salario"> </center>

<br>


<center>
    <table>
<tr>
         
      <td> <input type="button" value="Guardar" onclick="calcular()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="Actualizar" onclick="calcular()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="Eliminar" onclick="calcular()">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value="Siguiente" onclick="calcular()"></td>
         
      </tr>

</table>
</center>