@page
@model FrontEnd.Pages.sisModel
@{
}

<div class="Registro"> <h1>
 Registro de mano de obra </h1></div>
<style type="text/css"> 
    #Contenedor{
        width: 70%;
    background-color: hsla(0, 0%, 75%, .7);
    padding: 50px 3px;
    
    margin-top: 100px;
    border-radius: 4px;
    font-family: "DM Sans", sans-serif;
    font-size: large;
    color: black;
    margin-left: 20%;
}
    


</style>
<div id="Contenedor"> 
    <table border="0" style="margin:  auto;"> 
        <tr> 
            <td><p> Cargo </p></td>
        </tr>

        <tr>
            <td> 
                <select class="controls2"name="Lista" id ="list"> 
              <option value = "Opcion1"> Opcion1 </option>
                <option value = "Opcion2"> Opcion2</option>
                <option value = "Opcion3"> Opcion3</option>
                <option value = "Opcion4"> Opcion4</option>
              </select>
            </td>
        </tr>
        <tr> 
            <td>
                <p>Codigo</p>
            </td>
        </tr>
        <tr> 
      <td><input class="controls" type="text" id= "Codigo" size= "35"></td>
        </tr>
        <tr>
            <td><p> Salario </p></td>
        </tr>
        <tr>
            <td><input class="controls" type="text" id= "Salario" size= "35"></td>
        </tr>
    </table>

<br>
<center>   <table> 
<tr>
         
      <td> <a href="" class="btn-ghost dos round"> Guardar </a>&nbsp;&nbsp;&nbsp;</td><td> <a href="" class="btn-ghost tres round"> Actualizar</a>&nbsp;&nbsp;&nbsp;</td> <td> <a href="" class="btn-ghost cuatro round"> Eliminar</a>&nbsp;&nbsp;&nbsp;</td><td> <a href="" class="btn-ghost round"> Siguiente --></a></td>
         
      </tr>
   </table>
   </center>




</div>


<link rel="stylesheet" href="~/css/Seis.css" type="text/css">
