@page
@model FrontEnd.Pages.sieteModel
@{
}
<div class="Registro"> <h1>
 Trazabilidad </h1></div>

<link rel="stylesheet" href="~/css/Siete.css" type="text/css">
<style type="text/css"> 
    #Contenedor{
        width: 70%;
    background-color: hsla(0, 0%, 75%, .7);
    padding: 50px 3px;
    
    margin-top: 100px;
    border-radius: 4px;
    font-family: "DM Sans", sans-serif;
    font-size: large;
    color: black;
    margin-left: 20%;
}
    


</style>

<div id="Contenedor">
  <table border="0" style="margin:  auto;">
    <tr> 
        <td><p> Lugar de Produccion </p> </td>
        <td><p>  &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
         <td><p>  &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
        <td><p> Fecha de Produccion </p></td>
      
      </tr>
      
    <tr> 
        <td> <input class="controls" type="text" id="lugar_prod" size= "25"></td>
         <td><p>  &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
         <td><p>  &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
        <td> <input class="controls" type="text" id="fecha_prod" size= "25"></td>
      </tr>
      <tr> 
        <td><p> Encargado </p> </td>
        <td><p>  &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
         <td><p>  &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
        <td><p> Inversion </p></td>
      
      </tr>
     <tr> 
        <td> <input class="controls"  type="text" id="encargado" size= "25"></td>
         <td><p>  &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
         <td><p>  &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </p></td>
        <td> <input class="controls" type="text" id="inversion" size= "25"></td>
      </tr>
</table>

<br>

<table border="0" style="margin:  auto;">
<tr>
         
      <td> <a href="" class="btn-ghost dos round"> Guardar </a>&nbsp;&nbsp;&nbsp;</td><td> <a href="" class="btn-ghost tres round"> Actualizar</a>&nbsp;&nbsp;&nbsp;</td> <td> <a href="" class="btn-ghost cuatro round"> Eliminar</a>&nbsp;&nbsp;&nbsp;</td>
         
      </tr>
</table>
<br>

<center><a href="" class="btn-ghost round"> Siguiente --></a></center>
</div>