@page
@model FrontEnd.Pages.TresModel
@{
}
 
<section class="Registro"> 



<h1>REGISTRO</h1> 
     </section>
<style type="text/css">
    #contenedor{
       
        overflow: hidden;
    }

    
    #izquierda{
         background-color: hsla(0, 0%, 75%, .7);
        float:right;
             width:400px;
   
    padding: 25px ;
    margin: auto;
    margin-top: 65px;
    border-radius: 4px;
    font-family: "DM Sans", sans-serif;
    color: black;
        margin-right: 70px;

    }
    
    #derecha{
         background-color: hsla(0, 0%, 75%, .7);
        float: left;
        width:400px;
  
    padding: 25px;
    margin: auto;
    margin-top: 65px;
    border-radius: 4px;
    font-family: "DM Sans", sans-serif;
    color: black;
        margin-left: 70px;
    }

</style>

<div id="contenedor"> 
    <div id="derecha">
        <h2> FINCA </h2>
      <table border="0" style="margin:  auto;">
        
        
        <tr>
            <td><p> Numero de identificacion</p></td>
            <td> <p>     </p></td>
           
        </tr>
      
      
      <tr> 
      <td><input class="controls" type="text" id= "nom_producto" size= "20"></td>
          
      
      </tr>

      <tr>
            <td><p> Nombre Finca </p></td>
            <td> <p>     </p></td>
            <td><p> N° Lotes  </p></td>
      
      </tr>
      
      <tr> 
      <td><input class="controls" type="text" id= "num_materiald" size= "20"></td>
          <td> <p>     </p></td>
          
     <td> <select class="controls" name="Lista" id ="list"> 
              <option value = "Opcion1"> Opcion1 </option>
                <option value = "Opcion2"> Opcion2</option>
                <option value = "Opcion3"> Opcion3</option>
                <option value = "Opcion4"> Opcion4</option>
              </select></td>
      
      </tr>

      
      
      
      
      <tr> 
      <td> <p> Tipo</p> </td>
          <td> <p>     </p></td>
            <td><p> N° Productos </p></td>
            
           
      </tr>
      <td><input class="controls" type="text" id="tipo" size="20"></td>
      <td><p>&nbsp;&nbsp;&nbsp;</p></td>
          <td> <select class="controls" name="Lista" id ="list"> 
              <option value = "Opcion1"> Opcion1 </option>
                <option value = "Opcion2"> Opcion2</option>
                <option value = "Opcion3"> Opcion3</option>
                <option value = "Opcion4"> Opcion4</option>
              </select></td>
    
     
    </table>
   
   
    </div>
     
            

    
<div id="izquierda"> 
    <h2> LOTE </h2>
      <table border="0" style="margin:  auto;">
    

      <tr>
            <td><p> Numero de lote </p></td>
            <td> <p>     </p></td>
            <td><p> Cantidad Cultivo  </p></td>
      
      </tr>
      
      <tr> 
       <td> <select class="controls" name="Lista" id ="list"> 
              <option value = "Opcion1"> Opcion1 </option>
                <option value = "Opcion2"> Opcion2</option>
                <option value = "Opcion3"> Opcion3</option>
                <option value = "Opcion4"> Opcion4</option>
              </select></td>
          <td><p>&nbsp;&nbsp;&nbsp;</p></td>
     <td> <select class="controls" name="Lista" id ="list"> 
              <option value = "Opcion1"> Opcion1 </option>
                <option value = "Opcion2"> Opcion2</option>
                <option value = "Opcion3"> Opcion3</option>
                <option value = "Opcion4"> Opcion4</option>
              </select></td>
      
      </tr>

      
      
      
      
      <tr> 
      <td> <p> Tipo de Cultivo </p> </td>
            
           
      </tr>
          
      <td><input class="controls" type="text" id="tipo" size="20"></td>
      <td><p>&nbsp;&nbsp;&nbsp;</p></td>
           <tr> 
      <td> <p> Tipo de Cultivo </p> </td>
            
           
      </tr>
          <td> <select class="controls" name="Lista" id ="list"> 
              <option value = "Opcion1"> Opcion1 </option>
                <option value = "Opcion2"> Opcion2</option>
                <option value = "Opcion3"> Opcion3</option>
                <option value = "Opcion4"> Opcion4</option>
              </select></td>
    
     
    </table>
 
         </div>
       </div>
<table> 
    <center> 
        <br><br><br>
    <div class = "btn-item">  
       <center>  <a href="/Paginas/Cuatro" class="btn-ghost round"> Guardar</a></center>
     </div>
    
    </center>

</table>


<link rel="stylesheet" href="~/css/Tres.css" type="text/css">