@page
@model FrontEnd.Pages.TresModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="RegistroFincayLote" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    <header>
        <h1>
            REGISTRO
        </h>
    </header>
    <nav>
         <section>
        <h2>
            FINCA
        </h2>
        <p>
            Numero de Identificación
        </p>
        <input type="text" id="NumerodeIdentificacion" size="15">
        <p>
            Nombre de la Finca
        </p>
        <input type="text" id="NombredelaFinca" size="15">
        <p>
            Ubicacion
        </p>
        <input type="text" id="Ubicacion" size="15">
        <p>
            N° Lotes
        </p>
        <input type="number" name="NumerodeLotes">
      

            <p>
                N° de Productos
            </p>

            <input type="number" name="NumerodeProductos">
        
        
    </section>
    <section>
        <h2>
            LOTE
        </h2>
        <p>
            Numero de Lote
        </p>
        <input type="text" id="NumerodeLote" size="15">
        <p>
            Cantidad de cultivo
        </p>
<input type="number" name="CantidaddeCultivo">
        <p>
            Tipo de cultivo
        </p>
        <input type="text" id="TipodeCultivo" size="15">
        <p>
         Estado del Cultivo
     </p>
    <input type="radio" id="EnCrecimiento" name="EstadodelCultivo" value="En Crecimiento">
    <label for="EnCrecimiento"> En Crecimiento </label>
     <input type="radio" id="Produciendo" name="EstadodelCultivo" value="Produciendo">
     <label for="Produciendo">Produciendo</label>
      <input type="radio" id="Sinplantar" name="EstadodelCultivo" value="Sin Plantar">
      <label for="Sinplantar"> Sin Plantar</label>
    </section>
     <input type="button" value="guardar" onclick="guardar()">

    </nav>
   
     
</body>
</html>
