@page
@model FrontEnd.Pages.TresModel
@{
}
 <center><h1>REGISTRO</h1> </center>
     
<style type="text/css">
    #contenedor{
       
        overflow: hidden;
    }

    
    #izquierda{
        
        float:right;
    }
    
    #derecha{
        
        float: left;
    }

</style>

<div id="contenedor"> 
    <div id="derecha">
        <h2> FINCA </h2>
      <table border="0" style="margin:  auto;">
        
        
        <tr>
            <td><p> Numero de identificacion</p></td>
            <td> <p>     </p></td>
           
        </tr>
      
      
      <tr> 
      <td><input type="text" id= "nom_producto" size= "20"></td>
          
      
      </tr>

      <tr>
            <td><p> Nombre Finca </p></td>
            <td> <p>     </p></td>
            <td><p> N° Lotes  </p></td>
      
      </tr>
      
      <tr> 
      <td><input type="text" id= "num_materiald" size= "20"></td>
          <td> <p>     </p></td>
          
     <td> <select name="Lista" id ="list"> 
              <option value = "Opcion1"> Opcion1 </option>
                <option value = "Opcion2"> Opcion2</option>
                <option value = "Opcion3"> Opcion3</option>
                <option value = "Opcion4"> Opcion4</option>
              </select></td>
      
      </tr>

      
      
      
      
      <tr> 
      <td> <p> Tipo</p> </td>
          <td> <p>     </p></td>
            <td><p> N° Productos </p></td>
            
           
      </tr>
      <td><input type="text" id="tipo" size="20"></td>
      <td><p>&nbsp;&nbsp;&nbsp;</p></td>
          <td> <select name="Lista" id ="list"> 
              <option value = "Opcion1"> Opcion1 </option>
                <option value = "Opcion2"> Opcion2</option>
                <option value = "Opcion3"> Opcion3</option>
                <option value = "Opcion4"> Opcion4</option>
              </select></td>
    
     
    </table>
   
   
    </div>
     
            

    
<div id="izquierda"> 
    <h2> LOTE </h2>
      <table border="0" style="margin:  auto;">
        
        
       
      
      
     

      <tr>
            <td><p> Numero de lote </p></td>
            <td> <p>     </p></td>
            <td><p> Cantidad Cultivo  </p></td>
      
      </tr>
      
      <tr> 
       <td> <select name="Lista" id ="list"> 
              <option value = "Opcion1"> Opcion1 </option>
                <option value = "Opcion2"> Opcion2</option>
                <option value = "Opcion3"> Opcion3</option>
                <option value = "Opcion4"> Opcion4</option>
              </select></td>
          <td><p>&nbsp;&nbsp;&nbsp;</p></td>
     <td> <select name="Lista" id ="list"> 
              <option value = "Opcion1"> Opcion1 </option>
                <option value = "Opcion2"> Opcion2</option>
                <option value = "Opcion3"> Opcion3</option>
                <option value = "Opcion4"> Opcion4</option>
              </select></td>
      
      </tr>

      
      
      
      
      <tr> 
      <td> <p> Tipo de Cultivo </p> </td>
            
           
      </tr>
          
      <td><input type="text" id="tipo" size="20"></td>
      <td><p>&nbsp;&nbsp;&nbsp;</p></td>
           <tr> 
      <td> <p> Tipo de Cultivo </p> </td>
            
           
      </tr>
          <td> <select name="Lista" id ="list"> 
              <option value = "Opcion1"> Opcion1 </option>
                <option value = "Opcion2"> Opcion2</option>
                <option value = "Opcion3"> Opcion3</option>
                <option value = "Opcion4"> Opcion4</option>
              </select></td>
    
     
    </table>
 
         </div>
       </div>
<table> 
    <center> 
        <br>
    <button onclick="location.href='/Paginas/Cuatro'">guardar</button>
    
    </center>

</table>